/* Default styles for all devices */
/*330x630 lower limit design | 480x960 max for phones & vice versa, so from 330 to 480 and 630 to 960 its us*/
/*720 x1280 tablets & vice versa*/
/*1280x720 to 1920x1080*/


@media only screen and (orientation: landscape) and (max-width: 960px) {
    html{
        font-size: 12px;
    }
    .filler .social-media{
        margin-left: 0;
    }
    .panel{
        margin-top:2%;
        padding: 2%;
    }
    .listing-horizontal .lens {
    transform: scale(0.925);
    margin-bottom: -2.5%;
    }
    .small-round-image {
        width: 10vw; /* For bigger screen could go up to 8.33*/
        }
    .listing-horizontal .lens {
        width: 1.55vw; 
    }
    .categories img {
        height: 82vh;
    }
    .latest-blog-update {
        height: 64vh;
    }
    .blog-image {
        height: 60vh; 
        width: 60vw;
    }
}


@media only screen  and (min-width: 961px) and (max-width: 1279px) {
    html{
        font-size: 12px;
    }
    .filler .social-media{
        margin-left: 0;
    }
    .panel{
        margin-top:2%;
        padding: 2%;
    }
    .listing-horizontal .lens {
    transform: scale(0.925);
    margin-bottom: -2.5%;
    width: 1.55vw; 
    }
    .small-round-image {
        width: 10vw; /* For bigger screen could go up to 8.33*/
        }
    .categories img {
        height: 82vh;
    }
    .latest-blog-update {
        height: 64vh;
    }
    .blog-image {
        height: 60vh; 
        width: 60vw;
    }
}

@media only screen  and (min-width: 1280px) {
    html{
        font-size: 16px;
    }
    .filler .social-media{
        margin-left: 0;
    }
.panel{
        margin-top:0;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .listing-horizontal ul,.listing-horizontal  li{ /* This allows UL to go big and Lis to follow*/
        padding-right: 70px;
    }
    .listing-horizontal .lens {
    transform: scale(0.925);
    margin-bottom: -2.5%;
    width: 1.55vw; 
    }
    .small-round-image {
        width: 8vw; /* For bigger screen could go up to 8.33*/ 
    }
.small-content-box {
        padding: 0.5vw; /* 20px / 1920px = 0.0104166667 */
    }
    .quote {
        font-size: 2rem; /* Equivalent to 32px (2 * 16px) */
        padding: 1vw; /* 40px / 1920px = 0.0208333333 */
    }
.categories{
    padding: 0vw; }
    .categories img, .case {
        height: 56vh;
        width: 18.5vw;}
     .card{
        margin-left: 22%; 
        margin-top: -5%; 
        padding: 0;}

    .filler .lens {
        width: 2.5%; /* 20px / 1920px = 0.0104166667 */
        margin-bottom: -0.30vh; /* -4px / 1920px = -0.0020833333 */
        margin-left: 15%;
        margin-right: -20%;
        }
    
    .latest-blog-update {
        height: 54vh;
        width: 54vw;
    }
    .blog-image {
        height: 48vh; 
        width: 36vw;
    }
    .core-content{
        display: flex;
    }
    .side-section{
        display: block; 
        background-color: #fafafa;
        margin-left: 5%;
        width: 34vw;
    }
    .trending{
        border: 0.15vw solid #ffc117; /* 1px / 1920px = 0.0005208333 */
        border-radius: 0.20vw; /* 4px / 1920px = 0.0020833333 */
        padding: 1vw; /* 20px / 1920px = 0.0104166667 */
        height: 38vh;
        width: 29vw;/* 33wv in large*/
        margin-top: 5%; /* 3px / 967px = 0.003125 */
        margin-left: 5%; /* 20% in large*/ 
    }

    .trending:nth-child(3){
        height: 86vh;
    }
}